table {
    width: 1000px;
    background-color: wheat;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .addbtn{
    display: flex;
    justify-content: end;
    margin-bottom: 4px;
  }



  